<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Diagnosis</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Plant Disease Diagnosis</a>

        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>

<footer>
    <div class="foot">

    <b>Beta Version-2019</b><br>
    <b>Developed By <a href="https://fb.com/ashadullah.shawon">Ashadullah Shawon</a></b>

    </div>

</footer>

</html>